<html>

<head>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- bower:js -->
    <script src="vendor/angular/angular.js"></script>
    <!-- endbower -->
    <script src="scripts/sm.storage.js"></script>
    <script src="scripts/init.js"></script>
    <title>Angular Storage</title>
</head>

<body ng-app="app">
    <div ng-controller="init">
        <input ng-model="name">
        <button ng-click="save(name)">save</button>
        <button ng-click="remove()">remove</button>
    </div>
</body>

</html>